<div class="row justify-content-center">
  <div class="col-12">
    <p>lorem-picsum works!</p>
    <div class="form-group">
      <label for="widths">Choose a width:</label>
      <select
        [(ngModel)]="imageWidth"
        type="text"
        name="width"
        id="width"
      >
        <option value="100">100</option>
        <option value="200">200</option>
        <option value="300">300</option>
        <option value="400">400</option>
        <option value="500">500</option>
        <option value="600">600</option>
        <option value="700">700</option>
        <option value="800">800</option>
        <option value="900">900</option>
        <option value="1000">1000</option>
      </select>
      <label for="heights">Choose a height:</label>
      <select 
        name="heights" 
        id="heights"
        [(ngModel)] = "imageHeight"  
      >
        <option value="100">100</option>
        <option value="200">200</option>
        <option value="300">300</option>
        <option value="400">400</option>
        <option value="500">500</option>
        <option value="600">600</option>
        <option value="700">700</option>
        <option value="800">800</option>
        <option value="900">900</option>
        <option value="1000">1000</option>
      </select>
    </div>
    <div class="row">
      Width: {{imageWidth}}
      Height: {{imageHeight}}
    </div>
    <div class="col">
      <img src="https://picsum.photos/{{imageWidth}}/{{imageHeight}}" alt="picture from Lorem Picsum">
    </div>
  </div>
</div>


